body {
    background-color: #212121;
    color: white;
    width: 800px;
    height: 900px;
    width: 40%;
    height: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/static/Inter-Regular.ttf);
} 

.header {
    display: flex;
    justify-content: space-between;
}

.add {
    width: 30px;
    height: 30px;
    margin-left: 24px;
}

/* Стили для h1 */
h1 {
    color: #FF4F03;
    font-family: "Inter";
    font-size: 45px;
    font-weight: 400;
    margin-left: 45px;
}

.cont {
    display: flex;
    align-items: center;
}

input {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    
}

input:focus {
    color: none;
    outline: none;
}

.search {
    width: 195px;
    height: 35px;
    border-radius: 30px;
    background: #313131;
    padding-left: 10px;
}
